.rune {
  min-width: 58px;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(0deg, #4b4b4b 25%, #2d2d2d 50%, #4b4b4b 50%);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 0 8px #0b0b0b;
  transition: 0.1s all ease-in-out;
}

.runeActive {
  box-shadow: 0 0 8px var(--accent);
  background: linear-gradient(
    0deg,
    var(--accent) 25%,
    #2d2d2d 50%,
    var(--accent) 50%
  );
}

.runeLocked {
  cursor: not-allowed;
}

.runeHovered,
.rune:focus {
  box-shadow: 0 0 8px var(--accent);
  outline: none;
}

.runeHighlighted {
  box-shadow: 0 0 8px var(--highlight);
  background: linear-gradient(
    0deg,
    var(--highlight) 25%,
    #2d2d2d 50%,
    var(--highlight) 50%
  );
}

.rune img {
  width: 50px;
  height: 50px;
  object-fit: none;
  transition: 0.1s all ease-in-out;
}
