.talentPath {
  display: grid;
  align-items: center;
  gap: 2rem;
}

.talentPath h3 {
  text-transform: uppercase;
  color: var(--primaryText);
  font-size: var(--text-md);
  text-align: center;
}

.talentPath ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.talents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.connector {
  --connectorBackground: #1b1d1d;
  --connectorShadow: #474747;
  --connectorActiveBackground: #2f3132;
  --connectorActiveShadow: #696a6b;

  height: 60px;
  width: 16px;
  background: var(--connectorBackground);
  box-shadow: inset 0 0 4px var(--connectorShadow);
  transition: var(--medium-transition);
}

.connectorActive {
  background: var(--connectorActiveBackground);
  box-shadow: inset 0 0 4px var(--connectorActiveShadow);
}

@media (width > 768px) {
  .talentPath {
    grid-template-columns: 0.25fr 1fr;
  }

  .talentPath h3 {
    text-align: left;
  }

  .talents {
    flex-direction: row;
  }

  .connector {
    height: 16px;
    width: 100%;
  }
}
