.header {
  background: var(--foreground);
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.header h1 {
  color: var(--primaryText);
  font-size: 1rem;
}

@media (width > 768px) {
  .header {
    padding: 0.5rem 2rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
