.header {
  background: var(--foreground);
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.header h1 {
  color: var(--primaryText);
  font-size: var(--text-md);
}

@media (width > 768px) {
  .header {
    padding: 0.5rem 2rem;
  }

  .header h1 {
    font-size: var(--text-lg);
  }
}
